<% const env = htmlWebpackPlugin.options.env; %>
<% const title = htmlWebpackPlugin.options.title; %>
<% const files = htmlWebpackPlugin.files; %>
<% const async = file => file.match(/^\d+(\.\w+)*\.(js|css)/g) !== null; %>
<% const asyncFiles = _.flatMap(webpack.chunks, chunk => _.filter(chunk.files, async)); %>
<% const static = PRODUCTION ? env.publicPath : '/'; %>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<title><%= title %></title>
		<link rel="shortcut icon" href="<%= static %>assets/favicon.ico"/>
		<% _.forEach(asyncFiles, file => { %>
			<link rel="preload" href="<%= static + file %>" as="<%= file.match(/\.css/) ? 'style' : 'script' %>">
		<% }) %>
		<% !env.inlineCss && _.forEach(files.css, file => { %>
			<link rel="stylesheet" href="<%= file %>">
		<% })%>
	</head>
	<body>
		<div></div>
		<noscript>
			<div style="text-align: center;font-family:monospace;padding:10px;font-size:16px">
				<h1>Too Bad!</h1>
				<p>
					Please enable Javascript.
				</p>
			</div>
		</noscript>
		<% _.forEach(files.js, file => { %>
			<% if(_.includes(file, 'polyfills')) { %>
				<script>window.fetch || document.write('<script src="<%= file %>"><\/script>')</script>
			<% } else { %>
				<script defer src="<%= file %>"></script>
			<% } %>
		<% })%>
	</body>
</html>
